<!doctype html>
<head>
<title>Battle Royale</title>
</head>
<body>
  <style>
  body {
          background-image: url("http://i0.kym-cdn.com/photos/images/original/001/081/883/e72.png");
          background-repeat: no-repeat;
          background-size: auto;
        }
  </style>
  <center>
  <h1 style="color:purple; background-color:white; face:verdana"> Wellcome to Battle Royale! </h1>

  <h2>Proceed at your own risk</h2>
  <div>
  <form action="/names" method="post">
    <label for="player_1_name">
          Player 1
    <input type="text" name="player_1_name">
    </label>
    <label for="player_2_name">
    <p></p>
        Player 2
    <input type="text" name="player_2_name">
    </label>
  <p></p>
  <input type="submit" value="Submit">
  </form>
  <div>
</center>
</body>
